.main-content {
  min-height: calc(100vh - 200px);
  width: 100%;
  display: flex;
  flex-direction: column;

  // Remove padding for Ionic content pages (they handle their own padding)
  ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
}
