.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fh-logo {
  width: 176px;
  height: auto;
  image-rendering: auto;
  animation: scaleUp 3s ease-in-out forwards;
  transform-origin: center;
  margin-top: -33vh;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
